*{
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: 'b-yekan';
    src: url('../fonts/YekanBakh-Bold.bbd877a3.woff');
}
body{
    font-family: 'b-yekan';
}
.logo{
    border-bottom: 2px solid #d3d3d3;
}
ul{
    list-style: none;
}

.logo>img{
    width: 100px;
    height: 70px;
}


.logo>span{
    color: black;
    font-size: 20px;
}
.nav{
    margin-top: 20px;
}
.nav>li{
    display: block;
    width: 100%;
}
.nav>li>a{
    color: black;
    padding: 20px;
    transition: all .5s ease;
}
.nav>li>a>span{
    display: block;
}
.nav>li>a:hover {
    background-color: rgba(13, 133, 218, 0.93);
    border-radius: 10px;
    color: #fff;
}

.navWrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;

    background-color:rgba(0,0,0,.3);
    display: none;
}
.mobileNav{
    position: absolute;
    right:-1000px;
    top: 0;
    width: 350px;
    height: 100vh;
    background-color: white;
    transition: all .5s ease;

}
.navbar-brand{
    color: black;
}
.navbar-toggler , .btn-close{
    box-shadow: 2px 2px 2px grey , -2px -2px 2px grey;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;

}
.mobileNav .logo{
    border: none !important;
}
.t{
    background-image: linear-gradient(45deg,transparent,rgba(0,0,0,.3),grey);
}
.table td , .table th{
    text-align: center;
}

.theme{
    position: fixed;
    bottom: 3px;
    direction: rtl;
}